#top {
    position: relative;
    background-color: #ffffff; 
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

#usuarioLoggeado {
    color: chocolate;
    position: absolute;
    right: 25px;
    top: 25px;
}

#bottom {
    position: inherit;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    color: #045491;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    background-color: #ffffff;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ffffff;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #ffffff;
    padding: 5px;
}

.left_content {
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.right_content {
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.red-row{
    color: red;
}

.orange-row{
    color: orange;
}

#top a:link, #top a:visited {
  color: #045491;
  font-weight : normal;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: orange;
  font-weight : normal;
  text-decoration : none;
}


